<div class="piedepagina">
<div class="iconos">
    <a href="https://www.facebook.com/"><img src="/18.png" alt="Facebook"></a>
    <a href="https://www.instagram.com/"><img src="/19.png" alt="Instagram"></a>
    <a href="https://www.twitter.com/"><img src="/20.png" alt="Twitter"></a>
</div>
<div class="derechos">
    <div>
        <p>Politica de Privacidad     |     Terminos     |     Tarifas</p>
    </div>
    <div>
        <p>Se aplica la politica de privacidad y los terminos de servicio © 2025 con las tecnologias Inc.</p>
</div>
</div>