<div class="despedida">
    <div class="aplicacion">
        <h1>GoEats</h1>
            <div class="botones">
            <a href="https://www.apple.com/"><img src="/17.png" alt="Apple"></a>
            <a href="https://www.android.com/"><img src="/16.png" alt="Android"></a>
        </div>
    </div>
    <div class="lista">
        <ul>
            <li><a href="#">Obtener Ayuda</a></li>
            <li><a href="#">Compra tarjetas de regalo</a></li>
            <li><a href="#">Agrega tu restaurante</a></li>
            <li><a href="#">Registrate para realizar entregas</a></li>
            <li><a href="#">Crea una cuenta de negocios</a></li>
            <li><a href="#">Promociones</a></li>
        </ul>
    </div>
</div>
